:root {
  background-color: #fff;
  --color-text: #000;
}

.Background {
  position: fixed;
  background: radial-gradient(
    71.43% 62.3% at 46.43% 36.43%,
    rgba(18, 229, 229, 0) 15%,
    rgba(239, 155, 255, 0.3) 56.35%,
    #ff6448 100%
  );
  box-shadow: 0px 12.93px 28.74px 0px #ffd28db2 inset;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  top: -60vw;
  left: -14.27vw;
  transform: rotate(15.25deg);
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Banner {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.Logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.Logo--react {
  width: 100px;
  height: 100px;
  animation: Logo--spin infinite 20s linear;
}

.Logo--lynx {
  width: 100px;
  height: 100px;
  animation: Logo--shake 3s linear infinite;
}

@keyframes Logo--shake {
  0%, 8.33%, 100% { 
    transform: translate(0, 0);
  }
  2.083% { 
    transform: translate(2px, 2px); 
  }
  6.25% { 
    transform: translate(-2px, -2px); 
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}

.Arrow {
  width: 24px;
  height: 24px;
}

.Title {
  font-size: 14px;
  font-weight: 700;
  max-width: 95%;
  text-align: center;
  line-height: 18px;
}

.Subtitle {
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Button {
  background-color: #ff6448;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 20px;
}

.Description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  margin: 15rpx;
}

.Hint {
  font-size: 12px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.65);
}

.input-card-url {
  display: flex;
  border-radius: 12px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 3%;
  background: #FFF;
}

.input-box {
  display: flex;
  align-items: flex-start;
  margin: 0% 5% 5% 5%;
  border-width: 0px 0px 1px;
  border-color: #0000000a;
  height: 20%;
  width: 90%;
}

.connect-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 5% 5% 5%;
  border-radius: 8px;
  height: 28%;
  width: 90%;
  background: #ff351a;
}

.bold-text {
  font-size: 14px;
  font-weight: 500;
  height: 20%;
  margin: 5%;
}

.custom-list-container {
  display: flex;
  border-radius: 12px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  margin-bottom: 3%;
  background: #FFF;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  background: #ff6448;
}
