:root {
  background-color: #fff;
  --color-text: #000;
}

.Background {
  position: fixed;
  background: radial-gradient(
    71.43% 62.3% at 46.43% 36.43%,
    rgba(18, 229, 229, 0) 15%,
    rgba(239, 155, 255, 0.3) 56.35%,
    #ff6448 100%
  );
  box-shadow: 0px 12.93px 28.74px 0px #ffd28db2 inset;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  top: -60vw;
  left: -14.27vw;
  transform: rotate(15.25deg);
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
}

text {
  color: var(--color-text);
}

.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin-bottom: 30px;
  height: auto;
}

.Logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.Logo--react {
  width: 100px;
  height: 100px;
  animation: Logo--spin infinite 20s linear;
}

.Logo--sparkling {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  animation: Logo--shake 3s linear infinite;
}

@keyframes Logo--shake {
  0%, 8.33%, 100% { 
    transform: translate(0, 0);
  }
  2.083% { 
    transform: translate(2px, 2px); 
  }
  6.25% { 
    transform: translate(-2px, -2px); 
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.Arrow {
  width: 24px;
  height: 24px;
}

.Title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Subtitle {
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Button {
  background-color: #4879ff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
  align-self: center;
  width: 80%;
  display: flex;
  justify-content: center;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  margin: 15rpx;
}

.Hint {
  font-size: 12px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.65);
}

.GlobalProps {
  font-size: 12px;
  margin: 5px;
  color: #000;
}