.switch-container {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-container.unchecked {
  background-color: #e0e0e0;
}

.switch-container.checked {
  background-color: #009995;
}

.switch-toggle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.switch-container.checked .switch-toggle {
  transform: translateX(26px);
}